[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "modules/google-adsense"]
	path = modules/google-adsense
	url = https://github.com/hugomods/google-adsense
